page-quotes {
  .capitalize{
    text-transform: capitalize;
  }

  .author{
    color: #ccc;
    text-align: right;
    text-transform: capitalize;
    margin: 0;
    padding: 0;

    &:before{
      content: "- "
    }
  }
}
